
.container {
    max-width: 1170px;
    width: 100%;
    position: relative;
    padding: 13px;
    margin: 0 auto;
}

.slide-enter,
.slide-exit {
    transition: opacity 1000ms ease-out;
}

.slide-enter {
    opacity: 0;
}

.slide-enter.slide-enter-active {
    opacity: 1;
}

.slide-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0%);
}

.slide-exit-active {
    transform: translateX(-3000%);
}
